.header {
    font-family: 'Inter', sans-serif;
    color: var(--black);

    background-color: var(--white);
}

.header__container {
    font-family: inherit;

    margin: 0 auto;
    padding: 96px 0 77px 0;
}

.header__title {
    font-family: inherit;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
}