@import '../../assets/css/main.css';

:root {
    --primary: #4263EB;
    --primary-active: #000066;
    --primary-hover: #2342C0;
    
}

.button {
    width: 182px;
    height: 48px;
    border-radius: 8px;
}
