@import '../button.css';

.button_secondary {
    color: var(--white);
    background-color: var(--secondary);
}

.button_secondary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button_secondary:hover {
    background-color: var(--secondary-focused);
    transition: background-color 200ms ease-in-out;
}

.button_secondary:active {
    background-color: var(--secondary);
    transition: background-color 200ms ease-in-out;
}