@import '../button.css';

.button_alternate {
    border: 1px solid var(--grey-3);
    color: var(--black);
    background-color: var(--white);
}

.button_alternate:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button_alternate:hover {
    border: 1px solid var(--black);
    transition: border 200ms ease-in-out;
}

.button_alternate:active {
    border: 1px solid var(--grey-3);
    transition: border 200ms ease-in-out;
}