.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0 auto;
    max-width: 1110px;
}

.page__header {
    flex-grow: 0;
}

.page__main {
    flex-grow: 1;
    background-color: var(--grey-1);
}

.page__line {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.page__article {
    width: 27%;
}

.page__footer {
    flex-grow: 0;
}