.footer {
    font-family: 'Inter', sans-serif;
    color: var(--black);

    border-top: 1px solid var(--grey-2);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin: 0 auto;
    padding: 71px 0 136px 0;
}

.footer__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}

.footer__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin-top: 32px;
    max-width: 640px;
}