.footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--black);
    
    border-top: 1px solid var(--grey-2);
    padding: 71px 0 136px 0;
}

.footer__title {
    font-family: inherit;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;

    margin: 0 auto;
}

.footer__description {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0 auto;
    margin-top: 32px;
    max-width: 640px;
}