.component {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: var(--black);

    border-radius: 12px;
    padding: 80px 25px 30px 25px;

    box-shadow: 0px 2px 4px var(--grey-2);
}

.component__view {
    flex-grow: 1;
}

.component__description {
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: center;

    margin-top: 75px;
}